body {
    font-family: arial, sans-serif;
}

table.border, table.border th, table.border td {
    border: 1px solid black;
    border-collapse: collapse;
}

th.course {width: 33.3333% }

td {
    vertical-align:top;
    padding:10px;
}

table.fullwidth {width: 100%;}

ul.sideways li {
    display:inline-block;
    padding-right:8px;
}

.left {
    float:left;
    margin-right: 10px;
}

.right {
    float:right;
    margin-left: 10px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: rgb(209, 209, 209);
    }

    table.border, table.border th, table.border td {
        border: 1px solid rgb(209, 209, 209);
    }

    table {        
        background-color: rgb(25, 25, 25);
    }

    a:link {
        color: rgb(92, 164, 209);
    }

    a:visited {
        color: rgb(136, 36, 136);
    }

    img {
        opacity: 0.8;
        transition: opacity .25s ease-in-out;
    }
}